@font-face {
    font-family: 'GT Walsheim Pro';
    src: local('GT Walsheim Pro Medium'), local('GT-Walsheim-Pro-Medium'),
        url('../font/GTWalsheimPro-Medium.woff2') format('woff2'),
        url('../font/GTWalsheimPro-Medium.woff') format('woff'),
        url('../font/GTWalsheimPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

.main{
    font-family: GT Walsheim Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    background-image: url('../image/home.png');
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

button{
    margin: 20px;
    width: 300px;
    height: 50px;
    background-color: #416EA8;
    color: white;
    border: none;
    border-radius: 6px;
}

.bottom{
    position: relative;
    bottom: 0;
    text-align: center;
    margin-left: auto;
    outline:none;
}

button:hover{
    width: 320px;
    height: 55px;
}

*:focus {
    outline: 0 !important;
}

.footer {
    bottom: 0 !important;
    position: relative;
    width: 100vw;
    font-family: GT Walsheim Pro;
    font-style: normal;
    font-weight: 500;
    color: #000000 !important;
}


@media (max-width:420px) {
    button{
        width: 240px !important;
    }
    button:hover{
        width: 260px;
        height: 55px;
    }
    .footer-font{
        font-size: 13px !important;
    }
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    
    background-color: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:  #416EA8;
    border-radius: 5px;
  }