@font-face {
    font-family: 'GT Walsheim Pro';
    src: local('GT Walsheim Pro Medium'), local('GT-Walsheim-Pro-Medium'),
        url("../font/GTWalsheimPro-Medium.6c3cfafbc74a.woff2") format('woff2'),
        url("../font/GTWalsheimPro-Medium.86882f7d855e.woff") format('woff'),
        url("../font/GTWalsheimPro-Medium.f2f36c73edf5.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
}


body{
    font-family: "GT Walshein Pro";
    font-size: 1rem;
}
a:hover
 {
      color:#000000;
      text-decoration:none;
      cursor:pointer;
 }


.brand {
    font-family: GT Walsheim Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #484A52;
}

.nav-menu {
    font-family: GT Walsheim Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #484A52;
    overflow: hidden;
}

ul {
    margin-left: auto;
    position: relative;
    left: 22vw;
}

.menu-item {
    width: fit-content;
    box-sizing: content-box;
}

.RegisterBtn {
    width: 91px;
    height: 34px;
    background: #416EA8;
    border-radius: 4px;
    font-family: GT Walsheim Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    border: none;
}


.head{
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
    color: #212121;
    padding-top: 50px;
    padding-bottom: 32px !important;
    font-family: GT Walsheim Pro ;
    
    /* border: 2px brown solid; */
}

.form-group{
    text-align: center;
    font-family: GT Walsheim Pro ;
}

.form-control{
    width: 36% !important;
    margin-left: 32% !important;
    margin-right: 32% !important;
    padding-top: 22px !important;
    padding-bottom: 22px !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 16px !important;
    color: #484A52 !important;
    margin-bottom: 22px !important;
    background: #EEF4FB !important;
    border-radius: 6px !important;
}

.regn{
    width: 36% !important;
    margin-left: 32% !important;
    margin-right: 32% !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-family: GT Walsheim Pro ;
}

button:hover{
    opacity: 0.9;
}

.btn:hover{
    opacity: 0.9;
}


.btn{
    background: #416EA8 !important;
    border-radius: 6px !important;
}
.student{
    text-align: center;
}



.intern{
    font-style: normal !important;
    font-weight: normal;
    font-size: 13px;
    line-height: 11px;
    text-decoration-line: underline;
    color: #6696DD !important;
    font-family: GT Walsheim Pro ;
}

.footer {
    bottom: 0 !important;
    position: relative;
    width: 100vw;
    background-color: #FFFFFF;
    border-top: 1px  #416EA8 solid;
    font-family: GT Walsheim Pro;
    font-style: normal;
    font-weight: 500;
    color: #000000 !important;
}



@media (max-width:990px) {

    ul {
        margin-left: 0 !important;
        left: 0;
    }

    .menu-item {
        margin-bottom: 2vh;
    }
    .heading{
        font-size: 25px;
    }
    
}

@media (max-width:991px){
   
    .form-group{
        text-align: center;
        margin: 0 !important;
    }
    .form-control{
        width: 70vw !important;
        margin: auto !important;
        margin-bottom: 20px !important;
    }
    .navbar-brand{
        font-size: 16px;
    }
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    
    background-color: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:  #416EA8;
    border-radius: 5px;
  }